/* =============================
      Base styles
   ============================= */
body
{
    font-family: 'Karla', sans-serif;
    font-size: 16px;

    background: RGBA(230, 230, 251, .2);
}
a
{
    font-size: 20px;
    font-size: 1.3rem;
    line-height: 32px;
    line-height: 2rem;

    text-decoration: none;

    color: black;
}
.date
{
    color: darkgray;
}
.container
{
    max-width: 400px;
    max-height: 600px;
}

/* =============================
      Navbar styles
   ============================= */
.navbar
{
    font-size: 40px;
    font-size: 40px;
    font-size: 2.5rem;

    position: fixed;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 100vw;
    height: 56px;

    color: indigo;
    background: url('../images/nav-background.svg') no-repeat white;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.left,
.title,
.right
{
    min-width: 100px;
}
h1
{
    font-size: 32px;
    font-size: 32px;
    font-size: 2rem;

    color: white;

    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
}

/* =============================
      Notes styles
   ============================= */
ul.note-list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 100vw;
    padding-top: 59px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}
li
{
    margin: 3px 9px;
    margin: 3px 9px;
    margin: .2rem .6rem;
    padding: 16px 32px;
    padding: 16px 32px;
    padding: 1rem 2rem;

    border-radius: 4px;
    background: white;
}
.typcn-times
{
    float: right;

    padding-top: 16px;
    padding-top: 1rem;

    color: indigo;
}
.typcn-chevron-left
{
    color: white;
}
.note-content
{
    height: 70vh;
    padding: 90px 30px;

    background: RGBA(230, 230, 251, .2);
}
.note-text
{
    font-size: 16px;
    font-size: 1rem;
}
.note-content textarea
{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-size: 1rem;

    overflow: auto;

    resize: none;

    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
}

.edit-in-place.active textarea
{
    display: inline-block;

    width: 80vw;
    height: 75vh;
}

/* =============================
      edit in place directive
   ============================= */
.edit-in-place span
{
    cursor: pointer;
}

.edit-in-place textarea
{
    display: none;
}

.edit-in-place.active span
{
    display: none;
}

.edit-in-place.active textarea
{
    display: inline-block;
}


/* =============================
      Transition effects
   ============================= */
.l-one-whole
{
    position: relative;

    overflow: hidden;

    min-height: 400px;
}
.slide
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.slide.ng-enter,
.slide.ng-leave
{
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
}
.slide.ng-enter
{
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
}
.slide.ng-enter-active
{
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}
.slide.ng-leave
{
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}
.slide.ng-leave-active
{
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
}
/* ====   slide back === */
.slide-back
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.slide-back.ng-enter,
.slide-back.ng-leave
{
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
}
.slide-back.ng-enter
{
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
}
.slide-back.ng-enter-active
{
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}
.slide-back.ng-leave
{
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}
.slide-back.ng-leave-active
{
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
}
