<div class="navbar">
  <div class="left" ng-click="updateNote(note.text); changeTransition('slide-back')" style="text-align:left"><span ui-sref="notes" class="typcn typcn-chevron-left"></span></div>
  <div class="title">Notes</div>
  <div class="right" style="text-align:right"><span ui-sref="notes" ng-click="updateNote(note.text);changeTransition('slide-back')" class="typcn typcn-tick-outline"></span></div>
</div>

<div class="note-content">
  <span class="note-text">
    <edit-in-place value="note.text"></edit-in-place>
  </span>
</div>
